/* colors & fonts */
body {
    /* font-family: 'Playfair Display', serif; */
    font-family: 'Roboto', sans-serif; 
}

footer, nav {
    font-family: 'Roboto', sans-serif; 
}

.gld {
    color: gold;
}

.lt-gry {
    color: #767885;
}

.grn {
    color: #4AC877;
}

.blu {
    color: #5FC8ED;
}

.bld-white {
    color: #eff1f1;
    font-weight: bold;
}

p {
    color: #BDBEC1;
}

h3 {
    color: #BDBEC1;
    font-weight: 300;
}

.footer-section p {
    color: #fff;
}

/* buttons */
.call-to-action-btns > .signup-btn {
    width: 45%;
    height: 60px;
    padding: -10px;
    font-size: large;
    color: black;
    background-color: rgb(2, 255, 116);
    border-radius: 2px;
    border: none;
    font-weight: bold;
    transition: all 0.5s;
}

.call-to-action-btns > .signup-btn:hover {
    background-color: #34c569;
    cursor: pointer;
}

.call-to-action-btns > .lrn-btn {
    width: 30%;
    height: 60px;
    /* padding: 10px; */
    font-size: large;
    color: white;
    background-color: black;
    border-radius: 2px;
    border: none;
    font-weight: bold;
    transition: all 0.5s;
}

.call-to-action-btns > .lrn-btn:hover {
    background-color: rgb(24, 24, 24);
    cursor: pointer;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}
/* body */
body {
    margin: 0%;
    padding: 0;
    background-color: #292c33;
}

/* main */
main {
    display: grid;
    grid-template-columns: 4fr 3fr;
    margin: 10px 0px 10px 10px;
}

.call-to-action {
    padding: 1em;
    font-size: 2em;
}

/* aside */
.project img {
    max-width: 100%;
    height: auto;
}