/* Hamburger Button */
.toggle-button {
    position: absolute;
    top: 1.5rem;
    right: 3rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

/* media querys */
@media (max-width: 600px) {
    /* nav */   
    nav {
        grid-template-columns: 1fr;
    }

    .lt-gry {
        color: white;
    }

    .link-header, .nav-btns, .nav-btns span, .carrot{
        display: none;
    }

    nav > .nav-btns {
        display: none;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        flex-direction: column;
        width: 100%;
    }

    .navbar-links  ul li {
        text-align: center;
        transition: all 0.75s;
    }

    .navbar-links li a {
        padding: .5rem 1rem;
    }

    .navbar-links ul li:hover {
        background-color: lightgray;
        cursor: pointer;
    }

    .navbar-links ul li a:hover {
        color: black;
    }

    .navbar-links.active {
        display: flex;
    }

    /* main */
    main {
        grid-template-columns: 1fr;
        align-items: center;
    }

    .project {
        padding: 1em;
        font-size: 2em;
    }

    /* footer */
    footer {
        grid-template-columns: 1fr;
    }
}