
nav {
    background-color: #000;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
}

.gld {
    color: gold;
}

.lt-gry {
    color: #A6A5A1;
}

.grn {
    color: #4AC877;
}

nav a{
    color: #fff;
    text-decoration: none;
}

nav > .logo img {
    width: 300px;
    margin: 10px;
}

nav > .logo {
    align-self: center;
}

nav > .link-wrapper > .links {
    display: flex;
    justify-content: space-between;
    margin-top: -1em;
    font-weight: bold;
}

nav > .nav-btns {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav > .nav-btns button {
    background-color: rgb(53,56,63);
    border: 1px solid;
    border-radius: 3px;
    padding: 20px;
    font-weight: bold;
}

nav > .nav-btns > .nav-btn {
    margin: 0 .25em;
}

.bld{
    font-weight: bold;
}